In [ ]:
x = 43
y = x
x = 90
print (x)
print(y)

In [7]:
string_new = """New String
This is a new string"""

string_new = "New String\nThis is a new string"

In [8]:
print (string_new)

New String
This is a new string

In [3]:
string_raw = r"This is a \n raw string"
print(string_raw)

This is a \n raw string

In [4]:
string_raw = "This is a \n raw string"
print(string_raw)

This is a
 raw string

In [6]:
print(r"S\rP", r"A\nB")

S\rP A\nB

In [9]:
print("\a")



In [11]:
string1 = "Name"
string2 = "Age"
print(string1[2])
string1[2] = "p"

m

TypeError: 'str' object does not support item assignment

In [12]:
L1 = [ 1,2,3,4,5,5,5,5,5]

In [13]:
print (L1)

[1, 2, 3, 4, 5, 5, 5, 5, 5]

In [14]:
print(set(L1))

{1, 2, 3, 4, 5}

In [26]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]
list5 = list2

In [16]:
print(list1[0])

physics

In [20]:
print(list1[2:4])

[1997, 2000]

In [21]:
list1 == list2

False

In [22]:
list4 = [1,2,3,4,5]

In [23]:
list2 == list4

True

In [24]:
list2 is list4

False

In [27]:
list2 is list5

True

In [28]:
string1 + string2

'NameAge'

In [29]:
list1 + list2

['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5]

In [30]:
string1 * 10

'NameNameNameNameNameNameNameNameNameName'

In [31]:
5 * 10

50

In [34]:
list1 * 5

['physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000]

In [35]:
2000 in list1

True

In [36]:
2001 in list1

False

In [40]:
print(list1)
for x in list1:
    print ("The item is ", x)

for i in range(5):
    print (i)

['physics', 'chemistry', 1997, 2000]
The item is  physics
The item is  chemistry
The item is  1997
The item is  2000
0
1
2
3
4

In [41]:
range(5)

range(0, 5)

In [51]:
list3 = [ "Zero", "One", "Two", "Three", "Four", "Five","Six", "Seven", "Eight", "Nine", "Ten"]

# 0 , Zero
# 1, One
# ....
# 10, Ten

# for (i = 0, i<=30, i++)
# {
#    print(i)
# }


for i in range(11):
    print (i,"," ,list3[i])

print ("============================")
# Traditional coding
i = 0
for item in list3:
    print (i,',',item)
    i = i + 1

0 , Zero
1 , One
2 , Two
3 , Three
4 , Four
5 , Five
6 , Six
7 , Seven
8 , Eight
9 , Nine
10 , Ten
============================
0 , Zero
1 , One
2 , Two
3 , Three
4 , Four
5 , Five
6 , Six
7 , Seven
8 , Eight
9 , Nine
10 , Ten

In [52]:
list3

['Zero',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten']

In [53]:
del (list3[4])

In [54]:
list3

['Zero', 'One', 'Two', 'Three', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']

In [55]:
string1 = 'OneTwoThree'

string1.find("T")

3

In [56]:
list3.find('Seven')

AttributeError: 'list' object has no attribute 'find'

In [60]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [67]:
list(range(100,20,-20))

[100, 80, 60, 40]

In [68]:
list('spam')

['s', 'p', 'a', 'm']

In [69]:
L = [4,5,7,8]

In [71]:
for x in L: 
    print (x)

4
5
7
8

In [72]:
7 in L

True

In [73]:
L.append(100)

In [74]:
L

[4, 5, 7, 8, 100]

In [75]:
L.extend([200,300,400])

In [76]:
L

[4, 5, 7, 8, 100, 200, 300, 400]

In [77]:
L.append(100,300)

TypeError: append() takes exactly one argument (2 given)

In [78]:
L.extend(100)

TypeError: 'int' object is not iterable

In [79]:
L

[4, 5, 7, 8, 100, 200, 300, 400]

In [80]:
L.insert(1,1000)
L

[4, 1000, 5, 7, 8, 100, 200, 300, 400]

In [81]:
del (L[1])

In [82]:
L

[4, 5, 7, 8, 100, 200, 300, 400]

In [83]:
len(L)

8

In [85]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Write a program to count the number of occurances of digits (0-9), in the numbers between 1 and 100 (both included) 


print ([number for number in range(1,101)])